.header {
  background-color: #c280ff;
  height: 40px;
}

.form {
  width: 425px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  width: 350px;
  padding: 3px;
  border: 1px solid blueviolet;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.btn {
  padding: 3px;
  cursor: pointer;
  border: 1px solid blueviolet;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  color: blueviolet;
}

.btn:hover {
  background-color: #9660c8;
  color: white;
}

.err {
  color: red;
  font-size: 12px;
}
